<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %boldCyan(%-34.-34thread) %red(%10.10X{jda.shard}) %boldGreen(%-15.-15logger{0}) %highlight(%-6level) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/currentlog.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>logs/log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <!-- each file should be at most 10MB, keep 7 days worth of history, but at most 10GB -->
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>[%25d{dd MMM yyyy; HH:mm:ss.SSS} %-5level] %class{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.brenbrit.blog">
    <appender-ref ref="console"/>
  </logger>

  <root level="debug">
    <appender-ref ref="console" />
    <appender-ref ref="rolling" />
  </root>

</configuration>
